aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.11.0
asttokens==3.0.0
attrs==25.4.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.14.2
bleach==6.3.0
bleak==1.1.1
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
cryptography==46.0.3
cssselect==1.3.0
cssutils==2.11.1
decorator==5.2.1
defusedxml==0.7.1
dnspython==2.8.0
docopt==0.6.2
email-validator==2.1.0
executing==2.2.1
fastapi==0.117.1
fastjsonschema==2.21.2
frozenlist==1.8.0
greenlet==3.2.4
h11==0.16.0
httptools==0.7.1
idna==3.11
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mistune==3.1.4
more-itertools==10.8.0
mpmath==1.3.0
mqtt==0.0.1
multidict==6.7.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
numpy==2.3.4
nupy==0.1.1
packaging==25.0
paho-mqtt==2.1.0
pandocfilters==1.5.1
parso==0.8.5
pickleshare==0.7.5
pillow==11.3.0
pipreqs==0.5.0
platformdirs==4.5.0
premailer==3.10.0
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.1.2
pure_eval==0.2.3
pycparser==2.23
pydantic==2.6.1
pydantic_core==2.16.2
Pygments==2.19.2
pyotp==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.3
pyzmq==27.1.0
qrcode==8.2
referencing==0.37.0
requests==2.32.5
rpds-py==0.28.0
scipy==1.16.3
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.23
sse-starlette==3.0.3
stack-data==0.6.3
starlette==0.48.0
sympy==1.14.0
tinycss2==1.4.0
tornado==6.5.2
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.24.0
watchfiles==1.1.1
wcwidth==0.2.14
webencodings==0.5.1
websockets==15.0.1
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
yagmail==0.15.277
yarg==0.1.9
yarl==1.22.0
